Django==4.2.7
python-dotenv==1.0.1

google-api-python-client==2.143.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-api-core==2.19.2
google-generativeai==0.7.2
googleapis-common-protos==1.65.0